:root {
  --board-scale: 0.70; 
  --board-x-offset: 0px;
  --board-y-offset: 0px;

  --tile-scale: 0.64; 
  --tile-x-offset: -5px;
  --tile-y-offset: -56px; 
}

html,
body,
main {
  width: 100%;
  height: 100%;
}

body,
div {
  margin: 0;
  padding: 0;
}

.full-screen {
  padding: 33.35px 18.75px;
  min-width: 375px;
  max-width: 375px;
  min-height: 667px;
  max-height: 667px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: absolute;
}

.game-header {
  background-color: blue;
  width: 100%;
  height: 25.69%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.game-header .score-row {
  width: 100%;
  height: 44.53%;
  display: flex;
  justify-content: space-between;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 44.53%;
}

.game-header .name-card {
  background-color: tan;
  flex-basis: 48.81%;
  flex-grow: 0;
  flex-shrink: 0;
}

.game-header .score-card {
  background-color: rebeccapurple;
  width: 200px;
  height: 200px;
  transform-origin: center;
  transform: translate(var(--tile-x-offset), var(--tile-y-offset))
    scale3d(var(--tile-scale), calc(var(--tile-scale) * 0.577350269189626), 1.0) rotateZ(-45deg);
  flex-grow: 1;
  flex-shrink: 0;
  overflow: visible;

  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 10.0rem; /* 200 / 16 */
}

.player-1-score .score-card  {
  background-color: lightgreen;
  z-index: 1;
}

.player-2-score .score-card {
  background-color: lightsalmon;
  z-index: 0;
}

main {
  max-height: 59.47%; /* 9 rows, 8 gutters + top-bottom-margins 356.98px */
  /* overflow: hidden; */
}

.board {
  display: flex;
  flex-direction: column;
  /* board must be square */
  padding: 10px;
  width: 100%; /* 375px / 375px 100%; */
  height: 94.54%; /* 337.5px / 356.98px; */
  /* align-items: stretch;
  justify-content: space-between; */
  /* align-items: stretch; */
  background-color: lightsteelblue;
  transform-origin: center center;
  /* transform-origin: left top; */
  transform: translate(var(--board-x-offset), var(--board-y-offset))
    scale3d(var(--board-scale), calc(var(--board-scale) * 0.577350269189626), 1.0) rotateZ(-45deg);
  /* transform: rotateZ(45deg); */
  /* transform: translate(var(--board-x-offset), var(--board-y-offset))
   scale3d(var(--board-scale), var(--board-scale), 1.0) rotateX(60deg) rotateZ(-45deg); */
}

.row {
  background-color: yellow;
  display: flex;
  /* row height twitches if content changes; */
  flex-basis: 10px;

  flex-shrink: 0;
  flex-grow: 1; 
}

.cell {
  /* cell height twitches if content changes;  */
  flex-basis: 10px;
  flex-shrink: 0;
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid black;
}

.empty-cell {
  background-color: green;
  transform: transform 300ms;
}

.empty-cell:hover {
  background-color: lightgreen;
  transform: translateX(10px) translateY(-10px);
  transition: transform 500ms, background-color 500ms;
}

.cross {
  background-color: cyan;
}

.nought {
  background-color: red;
}

.game-footer {
  height: 12.18%;
  background-color: lightgoldenrodyellow;
}

.game-footer .footer-row {
  height: 44.53%;
  background-color: cornflowerblue;
  display: flex;
  justify-content: space-between;
}

.game-footer button {
  background-color: white;
  height: 506.09%;
  width: 48.81%;

  transform-origin: center;
  transform: scaleY(0.577350269189626) rotateZ(-45deg);
  /* transform: rotateZ(-45deg); */
  flex-grow: 0;
  flex-shrink: 0;
  overflow: visible;

  font-size: 1.5rem;
}

.game-footer .reset-game-button {
  background-color: lemonchiffon;
}

.game-footer .reset-game-button:hover {
  background-color: rgb(242, 240, 222);
}

.game-footer 
.clear-score-button {
  background-color: lightcoral;
 
}

.game-footer 
.clear-score-button:hover {
  background-color: rgb(244, 180, 180);
}

.pop-up {
  z-index: 2;
  width: 90%;
  height: 30%;
  background-color: peachpuff;
  position: absolute;
  top: 45.96%;
  height: 25.69%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-row {
  position: relative;
  height: 18.93%;
  display: flex;
  margin: 0 auto;
}

.title {
  transform: scaleY(0.577350269189626) rotateZ(-45deg);
  /* transform: rotateZ(-45deg); */
  background-color: red;
  flex-shrink: 1;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-step-top {
  background-color: lightpink;
  /* z-index: 5; */
}

.title-step-mid {
  background-color: pink;
  /* z-index: 4; */
}

.title-step-bottom {
  background-color: darkred;
  /* z-index: 3; */
}

.start-row {
  background-color: paleturquoise;
  position: relative;
  width: 100%;
  height: 18.93%;
}

.minimize-pop-up {
  display: none;
}