:root {
  --board-scale: 0.70; 
  --board-x-offset: 0px;
  --board-y-offset: 0px;

  --tile-scale: 0.64; 
  --tile-x-offset: -5px;
  --tile-y-offset: -56px; 



  /* Color Theme Swatches in Hex */
  --theme-color-1: #B7CCF7; 
  --theme-color-2: #2A3B5E; 
  --theme-color-3: #A5C0C4; 
  --theme-color-4: #CC9278; 
  --theme-color-5: #F7C1B7; 

  /* Color Theme Swatches in Hex */
  --theme-color-1-lite: #D2DFF7;
  --theme-color-2-lite: #38455E;
  --theme-color-3-lite: #BBC3C4;
  --theme-color-4-lite: #CCA28F;
  --theme-color-5-lite: #F7D8D2;

  --theme-color-1-dark: #88ADF7;
  --theme-color-2-dark: #1C325E;
  --theme-color-3-dark: #5EB7C4;
  --theme-color-4-dark: #CC7147;
  --theme-color-5-dark: #F78C79;

  --theme-color-bg: var(--theme-color-3-lite);
  --theme-color-bg-lite: white;
  --theme-color-bg-masked: #a9a9a993;
}

html,
body,
main {
  width: 100%;
  height: 100%;
  background-color: var(--theme-color-bg);
}

body,
section,
header,
footer,
div {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.0rem;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 2.0rem;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.0rem;
  text-transform: uppercase;
}

h1,
h2,
h3,
div,
section,
span {
  color: var(--theme-color-2);
}

.full-screen {
  padding: 33.35px 18.75px;
  min-width: 375px;
  max-width: 375px;
  min-height: 667px;
  max-height: 667px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: absolute;
}

.game-header {
  background-color: transparent;
  width: 100%;
  height: 25.69%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.game-header .score-row {
  width: 100%;
  height: 44.53%;
  display: flex;
  justify-content: space-between;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 44.53%;
}

 .name-card {
  background-color: var(--theme-color-4);
  flex-basis: 48.81%;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 16px 0 0 0;
  padding: 8px;
  transition: transform 300ms;
}


.game-header .score-card {
  background-color: var(--theme-color-4);
  width: 200px;
  height: 200px;
  transform-origin: center;
  transform: translate(var(--tile-x-offset), var(--tile-y-offset))
    scale3d(var(--tile-scale), calc(var(--tile-scale) * 0.577350269189626), 1.0) rotateZ(-45deg);
  flex-grow: 1;
  flex-shrink: 0;
  overflow: visible;

  display: flex;
  justify-content: center;
  align-content: center;
  /* H1 */
  font-weight: 700;
  font-size: 10.0rem; /* 200 / 16 */
}

.player-1-score .name-card  {
  background-color: var(--theme-color-1-dark);
}

.player-1-score .score-card  {
  background-color: var(--theme-color-1);
  box-shadow: 5px 10px 10px -4px var(--theme-color-1-dark);
  z-index: 1;
}

.player-2-score .name-card  {
  background-color: var(--theme-color-5-dark);
}

.player-2-score .score-card {
  background-color: var(--theme-color-5);
  box-shadow: 5px 10px 10px -4px var(--theme-color-5-dark);
  z-index: 0;
}

.current-player-name-hint {
  transform: scale3d(1.05, 1.05, 1);
  transition: transform 300ms, font-size 300ms, box-shadow 300ms;
  /* font-size: 1.5rem; */
  box-shadow: 5px 10px 10px -4px var(--theme-color-2-lite);
}

main {
  max-height: 59.47%; /* 9 rows, 8 gutters + top-bottom-margins 356.98px */
  /* overflow: hidden; */
}

.board {
  display: flex;
  flex-direction: column;
  /* board must be square */
  padding: 10px;
  width: 100%; /* 375px / 375px 100%; */
  height: 94.54%; /* 337.5px / 356.98px; */
  /* align-items: stretch;
  justify-content: space-between; */
  /* align-items: stretch; */
  background-color: var(--theme-color-2);
  transform-origin: center center;
  /* transform-origin: left top; */
  transform: translate(var(--board-x-offset), var(--board-y-offset))
    scale3d(var(--board-scale), calc(var(--board-scale) * 0.577350269189626), 1.0) rotateZ(-45deg);
  /* transform: rotateZ(45deg); */
  /* transform: translate(var(--board-x-offset), var(--board-y-offset))
   scale3d(var(--board-scale), var(--board-scale), 1.0) rotateX(60deg) rotateZ(-45deg); */
}

.row {
  background-color: var(--theme-color-2-lite);
  display: flex;
  /* row height twitches if content changes; */
  flex-basis: 10px;

  flex-shrink: 0;
  flex-grow: 1; 
}

.cell {
  /* cell height twitches if content changes;  */
  flex-basis: 10px;
  flex-shrink: 0;
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid black;

  font-weight: 900;
  font-size: 2.0rem;
}

.empty-cell {
  background-color: var(--theme-color-4);
  transform: transform 300ms;
}

.empty-cell:hover {
  background-color: var(--theme-color-4-lite);
  transform: translateX(10px) translateY(-10px);
  transition: transform 300ms, background-color 300ms;
  cursor: pointer;
}

.player-1-mark {
  background-color: var(--theme-color-3-dark);
  transition: background-color 300ms;
}

.player-1-move {
  background-color: var(--theme-color-1);
  transition: background-color 300ms;
}

.player-2-mark {
  background-color: var(--theme-color-3-dark);
  transition: background-color 300ms;
}

.player-2-move {
  background-color: var(--theme-color-5);
  transition: background-color 300ms;
}

.game-footer {
  height: 12.18%;
  background-color: var(--theme-color-3);
  /* border-radius: 20px 20px 20px 20px; */
  border-radius: 20px 0 0 0;
}

.game-footer .footer-row {
  height: 44.53%;
  display: flex;
  /* justify-content: space-between; */
  flex-direction: row;
  justify-content: space-between;
}

.game-footer .isometric-tile {
  transform: scaleY(0.577350269189626) rotateZ(-45deg);
  /* transform: rotateZ(-45deg); */
  flex-shrink: 0;
  flex-grow: 0;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-footer .tile-space {
  font-weight: 900;
  font-size: 2.0rem;

  width: 100px;
  height: 100px;
  background-color: var(--theme-color-3);
  z-index: 0;
}

.tile-space.player-one-turn {
  background-color: var(--theme-color-1-dark);
  transition: background-color 300ms;
}

.tile-space.player-two-turn {
  background-color: var(--theme-color-5-dark);
  transition: background-color 300ms;
}

.game-footer button {
  /* height: 506.09%; */
  /* width: 48.81%; */

  transform-origin: center;
  /* transform: scaleY(0.577350269189626) rotateZ(-45deg); */
  /* transform: rotateZ(-45deg); */
  flex-grow: 0;
  flex-shrink: 0;
  overflow: visible;

  /* font-size: 1.5rem; */
  border: 5px solid var(--theme-color-2);
  
  /* box-shadow: 0px 3px 6px 0px var(--theme-color-2); */
}

.game-footer .reset-game-button {
  background-color: var(--theme-color-4-lite);
  z-index: 1;
}

.game-footer .reset-game-button:hover {
  background-color: var(--theme-color-3-dark);
  transform: translateY(2px)
    scaleY(0.577350269189626) rotateZ(-45deg);
  transition: transform 300ms, background-color 300ms;
}

.game-footer 
.clear-score-button {
  background-color: var(--theme-color-4-lite);
  z-index: 1;
}

.game-footer 
.clear-score-button:hover {
  background-color: var(--theme-color-3-dark);
  transform: translateY(2px)
    scaleY(0.577350269189626) rotateZ(-45deg);
  transition: transform 300ms, background-color 300ms;
}

.pop-up {
  z-index: 2;
  width: 90%;
  background-color: var(--theme-color-bg-masked);
  position: absolute;
  top: 39.20%;
  height: 32.44%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px 0 0 0;
}

.start-splash .title-row {
  position: relative;
  height: 18.93%;
  display: flex;
  margin: 0 auto;
}

.start-splash .title {
  transform: scaleY(0.577350269189626) rotateZ(-45deg);
  /* transform: rotateZ(-45deg); */
  flex-shrink: 1;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid var(--theme-color-2);
}

.start-splash .title-step-top {
  background-color: var(--theme-color-1);
  z-index: 3;
}

.start-splash .title-step-mid {
  background-color: var(--theme-color-4);
  z-index: 2;
}

.start-splash .title-step-bottom {
  background-color: var(--theme-color-5);
  z-index: 3;
}

.start-splash .start-row {
  position: relative;
  width: 100%;
  height: 44.53%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.start-game-button {
  background-color: var(--theme-color-4);
  width: 65.88%;
  height: 100%;
  border-radius: 45px 45px 45px 45px;
  border: 3px solid var(--theme-color-2);
}

.start-game-button:hover {
  background-color: var(--theme-color-3-dark);
  border: 4px solid var(--theme-color-2-lite);
  transform: translateY(2px);
  transition: transform 300ms, border 300ms, background-color 300ms;
}

.win-splash {
  height: 44.53%;
  background-color: transparent;
  justify-content: flex-start;
}

.win-splash .splash-info {
  border-radius: 20px 0 0 0;
  height: 65.53%;
  background-color: var(--theme-color-bg-masked);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.win-splash h2 {
  text-align: center;

  font-size: 3.0rem;
}

.win-splash .win-continue-row{
  display: flex;
  justify-content: center;
  height: 25.705%; /* matches start button size  */
  width: 100%;
}

.winner-text {
  text-align: center;

  font-weight: 300;
  font-size: 2.0rem;
}

.continue-game-on-win {
  background-color: var(--theme-color-4);
  height: 100%;
  width: 65.88%;
  border-radius: 45px 45px 45px 45px;
  border: 3px solid var(--theme-color-2);
}

.continue-game-on-win:hover {
  background-color: var(--theme-color-3-dark);
  border: 4px solid var(--theme-color-2-lite);
  transform: translateY(2px);
  transition: transform 300ms, border 300ms, background-color 300ms;
}

.draw-splash {
  height: 32.44%; 
  align-content: center;
  justify-content: space-evenly;
}

.draw-splash h2 {
  text-align: center;

  font-size: 3.0rem;
}

.draw-continue-row {
  height: 39.20%;
  display: flex;
  justify-content: center;
}

.continue-game-on-draw {
  background-color: var(--theme-color-4);
  width: 65.88%;
  height: 100%;
  border-radius: 45px 45px 45px 45px;
  border: 3px solid var(--theme-color-2);
}

.continue-game-on-draw:hover {
  background-color: var(--theme-color-3-dark);
  border: 4px solid var(--theme-color-2-lite);
  transform: translateY(2px);
  transition: transform 300ms, border 300ms, background-color 300ms;
}

.minimize-pop-up {
  display: none;
}